.window-size {
  height: 90vh;
  overflow-y: scroll;
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
}

header {
  height: 10vh;
}

.img-post {
  max-height: 25vh;
  image-rendering: auto;
}

textarea {
  width: fit-content;
}

.team {
  margin-top: 10vh;
}

.comment-button {
  border-radius: 0%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comment-floor {
  border-top-left-radius: 0%;
  border: 0ch;
}

.img-teach {
  width: 40vh;
}

.style-jake {
  border: 5px solid red !important;
}

.style-mick {
  border: 5px solid green !important;
}